body {
  background-color: rgba(0,129,10,1);
  font-family: 'Cinzel', serif;
  text-align: center;
}
main {
  padding: 2em 1em;

}
h1 {
  font-size: 12em;
  font-weight: 900;
  color: rgba(255,255,255,.2);
  margin: .1em 0;
}
h2 {
font-weight: 700;
font-size: 3em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.75em;
}
section.top {
  display: flex;
  -webkit-flex-flow: row;
  flex-direction: row;
  justify-content: space-between;
}
div.deckImage, div.topSpace {
  flex: 1 max-content;
  height: 12em;
  width: 8em;
}
div.deckImage {
  box-shadow: 3px 3px 5px black;
  border: black 1px;
  border-style: solid;
  border-radius: 5px;
}
img.deck {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
section.dealer {
flex: max-content;
}
.cardArea {
  height: 13em;
  width: 60em;
}
section.middle {
  flex: 1 100%;
}
section.bottom {
  display: flex;
  justify-content: center;
}
section.player {
  margin: 0 10em;
}
div.card {
  height: 12em;
  width: 8em;
  background-color: white;
  box-shadow: 3px 3px 5px black;
  display: inline-block;
  border: black 1px;
  border-style: solid;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 400;
  position: relative;
  align-items: center;
}
#deckCard {
  display: none;
}
#dealerFirstCard {
  background-size: cover;
}
.counters {
  padding-right: 2em;
}
button {
  background-color: rgba(0,129,10,1);
  border-radius: 10px;
  border-color: black;
  border-width: thin;
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
}
